CHS Extranet/HAP User Card/Service References/Web/api1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hap.codeplex.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hap.codeplex.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hap.codeplex.com/">
      <s:element name="getInit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInitResult" type="tns:Init" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Init">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomeDirectory" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HomeDrive" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserLevel" type="tns:UserLevel" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeID" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UserLevel">
        <s:restriction base="s:string">
          <s:enumeration value="Admin" />
          <s:enumeration value="Teacher" />
          <s:enumeration value="Student" />
        </s:restriction>
      </s:simpleType>
      <s:element name="getPhoto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="upn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPhotoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPhotoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="getControlledOUs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OuDn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getControlledOUsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getControlledOUsResult" type="tns:ArrayOfOU" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOU">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OU" nillable="true" type="tns:OU" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OU">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OUs" type="tns:ArrayOfOU" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OUPath" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Show" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Enable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oupaths" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnableResponse">
        <s:complexType />
      </s:element>
      <s:element name="Disable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oupaths" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFreeSpacePercentage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userhome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFreeSpacePercentageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFreeSpacePercentageResult" type="tns:QuotaInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QuotaInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ExtensionData" type="tns:ExtensionDataObject" />
          <s:element minOccurs="1" maxOccurs="1" name="Free" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Used" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ExtensionDataObject" />
      <s:element name="getMyTickets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMyTicketsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getMyTicketsResult" type="tns:ArrayOfTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Priority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="tns:ArrayOfNote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Note">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Date" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NoteText" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="setNewTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="note" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="room" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setNewTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setNewTicketResult" type="tns:ArrayOfTicket" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getInitSoapIn">
    <wsdl:part name="parameters" element="tns:getInit" />
  </wsdl:message>
  <wsdl:message name="getInitSoapOut">
    <wsdl:part name="parameters" element="tns:getInitResponse" />
  </wsdl:message>
  <wsdl:message name="getPhotoSoapIn">
    <wsdl:part name="parameters" element="tns:getPhoto" />
  </wsdl:message>
  <wsdl:message name="getPhotoSoapOut">
    <wsdl:part name="parameters" element="tns:getPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getControlledOUsSoapIn">
    <wsdl:part name="parameters" element="tns:getControlledOUs" />
  </wsdl:message>
  <wsdl:message name="getControlledOUsSoapOut">
    <wsdl:part name="parameters" element="tns:getControlledOUsResponse" />
  </wsdl:message>
  <wsdl:message name="EnableSoapIn">
    <wsdl:part name="parameters" element="tns:Enable" />
  </wsdl:message>
  <wsdl:message name="EnableSoapOut">
    <wsdl:part name="parameters" element="tns:EnableResponse" />
  </wsdl:message>
  <wsdl:message name="DisableSoapIn">
    <wsdl:part name="parameters" element="tns:Disable" />
  </wsdl:message>
  <wsdl:message name="DisableSoapOut">
    <wsdl:part name="parameters" element="tns:DisableResponse" />
  </wsdl:message>
  <wsdl:message name="GetFreeSpacePercentageSoapIn">
    <wsdl:part name="parameters" element="tns:GetFreeSpacePercentage" />
  </wsdl:message>
  <wsdl:message name="GetFreeSpacePercentageSoapOut">
    <wsdl:part name="parameters" element="tns:GetFreeSpacePercentageResponse" />
  </wsdl:message>
  <wsdl:message name="getMyTicketsSoapIn">
    <wsdl:part name="parameters" element="tns:getMyTickets" />
  </wsdl:message>
  <wsdl:message name="getMyTicketsSoapOut">
    <wsdl:part name="parameters" element="tns:getMyTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="setNewTicketSoapIn">
    <wsdl:part name="parameters" element="tns:setNewTicket" />
  </wsdl:message>
  <wsdl:message name="setNewTicketSoapOut">
    <wsdl:part name="parameters" element="tns:setNewTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="apiSoap">
    <wsdl:operation name="getInit">
      <wsdl:input message="tns:getInitSoapIn" />
      <wsdl:output message="tns:getInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPhoto">
      <wsdl:input message="tns:getPhotoSoapIn" />
      <wsdl:output message="tns:getPhotoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getControlledOUs">
      <wsdl:input message="tns:getControlledOUsSoapIn" />
      <wsdl:output message="tns:getControlledOUsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <wsdl:input message="tns:EnableSoapIn" />
      <wsdl:output message="tns:EnableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <wsdl:input message="tns:DisableSoapIn" />
      <wsdl:output message="tns:DisableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFreeSpacePercentage">
      <wsdl:input message="tns:GetFreeSpacePercentageSoapIn" />
      <wsdl:output message="tns:GetFreeSpacePercentageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMyTickets">
      <wsdl:input message="tns:getMyTicketsSoapIn" />
      <wsdl:output message="tns:getMyTicketsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setNewTicket">
      <wsdl:input message="tns:setNewTicketSoapIn" />
      <wsdl:output message="tns:setNewTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="apiSoap" type="tns:apiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInit">
      <soap:operation soapAction="http://hap.codeplex.com/getInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhoto">
      <soap:operation soapAction="http://hap.codeplex.com/getPhoto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://hap.codeplex.com/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getControlledOUs">
      <soap:operation soapAction="http://hap.codeplex.com/getControlledOUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <soap:operation soapAction="http://hap.codeplex.com/Enable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <soap:operation soapAction="http://hap.codeplex.com/Disable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeSpacePercentage">
      <soap:operation soapAction="http://hap.codeplex.com/GetFreeSpacePercentage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyTickets">
      <soap:operation soapAction="http://hap.codeplex.com/getMyTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setNewTicket">
      <soap:operation soapAction="http://hap.codeplex.com/setNewTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="apiSoap12" type="tns:apiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInit">
      <soap12:operation soapAction="http://hap.codeplex.com/getInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhoto">
      <soap12:operation soapAction="http://hap.codeplex.com/getPhoto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://hap.codeplex.com/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getControlledOUs">
      <soap12:operation soapAction="http://hap.codeplex.com/getControlledOUs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Enable">
      <soap12:operation soapAction="http://hap.codeplex.com/Enable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disable">
      <soap12:operation soapAction="http://hap.codeplex.com/Disable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFreeSpacePercentage">
      <soap12:operation soapAction="http://hap.codeplex.com/GetFreeSpacePercentage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyTickets">
      <soap12:operation soapAction="http://hap.codeplex.com/getMyTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setNewTicket">
      <soap12:operation soapAction="http://hap.codeplex.com/setNewTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="api">
    <wsdl:port name="apiSoap" binding="tns:apiSoap">
      <soap:address location="https://folders.crickhowell-hs.powys.sch.uk/hap/usercard/api.asmx" />
    </wsdl:port>
    <wsdl:port name="apiSoap12" binding="tns:apiSoap12">
      <soap12:address location="https://folders.crickhowell-hs.powys.sch.uk/hap/usercard/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>