CHS Extranet/HAP.Data/Service References/Quota/HAPQuotaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chs01:8011/HAPQuotaService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HAP.Data.Quota" />
  <xs:element name="GetQuota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fileshare" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HAP.Data.Quota" minOccurs="0" name="GetQuotaResult" nillable="true" type="q1:QuotaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>