CHS Extranet/HAP.Data/Service References/Quota/HAPQuotaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HAP.Data.Quota" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HAP.Data.Quota" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="QuotaInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Total" type="xs:double" />
      <xs:element minOccurs="0" name="Used" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuotaInfo" nillable="true" type="tns:QuotaInfo" />
</xs:schema>