HAP/HAP.Data/Service References/Quota/WCFService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://nick-pc:8011/HAPQuotaService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://nick-pc:8011/HAPQuotaService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://nick-pc:8011/HAPQuotaService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HAP.Data.Quota" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetQuota_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuota" />
  </wsdl:message>
  <wsdl:message name="IService_GetQuota_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetQuotaFromPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaFromPath" />
  </wsdl:message>
  <wsdl:message name="IService_GetQuotaFromPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotaFromPathResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetQuota">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetQuota" message="tns:IService_GetQuota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetQuotaResponse" message="tns:IService_GetQuota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotaFromPath">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetQuotaFromPath" message="tns:IService_GetQuotaFromPath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetQuotaFromPathResponse" message="tns:IService_GetQuotaFromPath_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetQuota">
      <soap12:operation soapAction="http://tempuri.org/IService/GetQuota" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotaFromPath">
      <soap12:operation soapAction="http://tempuri.org/IService/GetQuotaFromPath" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://nick-pc:8010/HAPQuotaService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://nick-pc:8010/HAPQuotaService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>