CHS Extranet/HAP Logon Tracker/Web References/api/api.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://hap.codeplex.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://hap.codeplex.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://hap.codeplex.com/">
      <s:element name="Clear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Computer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearResponse">
        <s:complexType />
      </s:element>
      <s:element name="Logon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Computer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LogonServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="os" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogonResult" type="tns:LogonsList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LogonsList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserType" type="tns:UT" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxLogons" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OverrideCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logons" type="tns:ArrayOfTrackerlogentry" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="UT">
        <s:restriction base="s:string">
          <s:enumeration value="Admin" />
          <s:enumeration value="Staff" />
          <s:enumeration value="Student" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfTrackerlogentry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="trackerlogentry" nillable="true" type="tns:trackerlogentry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="trackerlogentry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComputerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogonServer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OS" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LogOnDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LogOffDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="RemoteLogoff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Computer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoteLogoffResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ClearSoapIn">
    <wsdl:part name="parameters" element="tns:Clear" />
  </wsdl:message>
  <wsdl:message name="ClearSoapOut">
    <wsdl:part name="parameters" element="tns:ClearResponse" />
  </wsdl:message>
  <wsdl:message name="LogonSoapIn">
    <wsdl:part name="parameters" element="tns:Logon" />
  </wsdl:message>
  <wsdl:message name="LogonSoapOut">
    <wsdl:part name="parameters" element="tns:LogonResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteLogoffSoapIn">
    <wsdl:part name="parameters" element="tns:RemoteLogoff" />
  </wsdl:message>
  <wsdl:message name="RemoteLogoffSoapOut">
    <wsdl:part name="parameters" element="tns:RemoteLogoffResponse" />
  </wsdl:message>
  <wsdl:portType name="apiSoap">
    <wsdl:operation name="Clear">
      <wsdl:input message="tns:ClearSoapIn" />
      <wsdl:output message="tns:ClearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <wsdl:input message="tns:LogonSoapIn" />
      <wsdl:output message="tns:LogonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoteLogoff">
      <wsdl:input message="tns:RemoteLogoffSoapIn" />
      <wsdl:output message="tns:RemoteLogoffSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="apiSoap" type="tns:apiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clear">
      <soap:operation soapAction="http://hap.codeplex.com/Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <soap:operation soapAction="http://hap.codeplex.com/Logon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteLogoff">
      <soap:operation soapAction="http://hap.codeplex.com/RemoteLogoff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="apiSoap12" type="tns:apiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Clear">
      <soap12:operation soapAction="http://hap.codeplex.com/Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logon">
      <soap12:operation soapAction="http://hap.codeplex.com/Logon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoteLogoff">
      <soap12:operation soapAction="http://hap.codeplex.com/RemoteLogoff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="api">
    <wsdl:port name="apiSoap" binding="tns:apiSoap">
      <soap:address location="https://folders.crickhowell-hs.powys.sch.uk/extranet/tracker/api.asmx" />
    </wsdl:port>
    <wsdl:port name="apiSoap12" binding="tns:apiSoap12">
      <soap12:address location="https://folders.crickhowell-hs.powys.sch.uk/extranet/tracker/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>